.button {
    display: inline;
    border-radius: .5em;
    margin-left: -.2em;
    background-image: radial-gradient(pink,aqua)
}
.like {
    position: relative;
    margin-right: .5em;
}
p {
    margin: 0;
}
.post_wrapper {
    width: 50%;
    margin: 2em 0 2em 1em;
    padding: .5em;
    padding-bottom: 1em;
    background-image: radial-gradient(bisque,white);
    border-radius: .5em;
}
.post__likeAndLikesCountPanel {
    display: flex;
    align-items: center;
}
.post__likeSign {
    width: 35px;
    transition: 0.15s ease;
    display: inline-block;
    margin-right: .4em; 
    margin-bottom: 0;
    border-radius: .3em;
}
.post__message {
    margin-bottom: .5em
}
.likeAndCommentaryPanel__likeSign {
    margin-bottom: 0;
    font-size: 1.7em;
    color: lightsalmon;
}
.isLiked {
    background-image: radial-gradient(green,lightGreen);
}
.post__like {
    display: flex;
    align-items: center;
}
.post__likeSign:hover {
    transform: scale(1.05)
}
.post__likesCount {
    display: inline-block;
    font-size: 1.7em;
    color: lightsalmon;
}
.button_delete {
    float: right;
}