.newsCommentary__date {
    margin-bottom: 0;
}
.newsCommentary__text {
    margin-bottom: 0;
}
.newsCommentariesList {
    margin-bottom: 0;
}
.newsCommentary {
    width: 200%;
    margin-bottom: .5em;
}
.commentariesName {
    margin-bottom: .5em;
    margin-top: .5em
}