.input {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    margin: 0;
    border: 3px solid blue;
    border-radius: .3em;
    width: 80%;

  }
  .input textarea {
    flex: 1;
    font-family:sans-serif;
    border-radius: .3em;
    width:100%;
    box-sizing: border-box;
    margin: 0;
  }
  .input_zeroValueError,.textarea_maxLengthError {
      border: 3px solid red;
  }
  /* .input_zeroValueError::after{
      content: "Введите как минимум 1 символ";
      display: block;
  }
  .input_maxLengthError::after {
      content: "Превышено максимальное количество символов";
      display: block;
  }  */