.textarea {
    font-size: 13.3333px;
    margin: 0;
    border: 1px solid blue;
    border-radius: .3em;
  }
  .textarea > * {
    width: calc(100% - 4px);
  }
  .textarea_zeroValueError,.textarea_maxLengthError {
      border: 2px solid red;
  }
  .textarea_zeroValueError::after{
      content: "Введите как минимум 1 символ"
  }
  .textarea_maxLengthError::after {
      content: "Превышено максимальное количество символов"
  }