.user {
    display: flex;
    width: 50%;
    flex-direction: row;
    background-color: white;
    border-radius: .08em;
    margin: 10px;
    margin-right: 0;
}

.user__image {
    display: flex;
    flex-direction: column;
    vertical-align: baseline;
    padding: .5em;
}
.user__image > figure {
    margin: 0 0 .1em 0; 
}
.user__image__avatar {
    height: inherit;
    margin: initial;
}
.user__body {
    flex: 5;
    padding: .5em;
    width: 60%;
    white-space: pre-wrap;
}
.user__status {
    width: 10em;
    height: max-content;
    word-wrap: break-word;
    white-space: normal;
}
.button {
    box-sizing: border-box;
    display: block;
    align-self: center;
    width: 128px;
    height: 2em;
    border-radius: .5em;
}
.button_follow {
    background-image: radial-gradient(pink,aqua)
}
.button_unfollow {
    background-image: radial-gradient(pink,#00FF66);
}