.chat {
    width: 70%;
    height: auto;
    padding-right: 1em;
    padding-left: 1em;
    background-color: lightcyan; 
  }
  .send {
    display: block;
    margin-left: 1em;
    padding: 1em;
  }