.chat {
    width: 70%;
    height: auto;
    padding-right: 1em;
    padding-left: 1em;
    background-color: lightcyan; 
  }
  .send {
    margin-top: .3em;
    display: block;
    background-color: #0693cd;
    border: 0;
    border-radius: .3em;   
    cursor: pointer;
    color: #fff;
    font-size: .8em;
    font-weight: bold;
    line-height: 1.2;
    padding: .7em;
    width: 10em;}