.nav {
    grid-area: nav;
    background-color: transparent;
  }
li {
  margin-left: -1em;
  list-style-type: none;
}
li a.navigation {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: lightseagreen;
  font-weight: 200;
  text-decoration: none;
  padding: .1em;
  background-color: rgba(0,0,0,0);
  border-radius: .5em;
  transition: .15s background-color ease-in;
  display: initial;
  width: initial;
  height: initial;
}
a.active {
  color: pink;
}
li a:hover {
  background-color: rgba(0,0,0,.3)
}
li a + li a {
  margin-top: .2em;
}
@media (max-width:990px) {
  li a {
    font-size: .7rem;
  }
}
.bestfriends {
  color: lightseagreen;
  text-align: center;
}
.bestfriends_persons {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.bestfriend {
  display: block;
  
}