.profileInfo {
    margin-top: .5em;
    margin-left: 1em;
}
.profileInfo__avatar {
    width: 10%;
}
.profileInfo__uploadAvatar, .profileInfo__editMode {
    display: block;
    margin-bottom: .1em
}
.profileInfoEditMode__input {
    width: 20%;
}
.profileInfoEditMode__checkbox {
    width: 5%;
    border: none;
}