.news *+* {
    margin-bottom: .8em
}
.news {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: .35em;
    align-items: flex-start;
    margin: 2em 2em 3em 2em;
    padding: .7em 1.5em 1.5em 1.2em 
}

.news__hero {
    width: 500px;
}
.button {
    margin-top: .3em;
    display: block;
    background-color: #0693cd;
    border: 0;
    border-radius: .3em;   
    cursor: pointer;
    color: #fff;
    font-size: .9em;
    font-weight: bold;
    line-height: 1.4;
    padding: .5em;
    width: 30%;
}
.news__commentary {
    width: 60%;
}
.news__name {
    margin-top: .1em;
    margin-bottom: .1em;
}
.news__date {
    margin-bottom: .4em;
}
.news__likeAndCommentaryPanel {
    display: flex;
    align-items: center;
}
.news__likeAndCommentaryPanel__commentarySign, .news__likeAndCommentaryPanel__likeSign {
    width: 35px;
    transition: 0.15s ease;
    display: inline-block;
    margin-right: .4em; 
}
.news__likeAndCommentaryPanel__likeSign {
    margin-bottom: 0;
    border-radius: .3em;
}
.likeAndCommentaryPanel__likeSign {
    margin-bottom: 0;
    font-size: 1.7em;
    color: lightsalmon;
}
.isLiked {
    background-image: radial-gradient(green,lightGreen);
}
.news__likeAndCommentaryPanel__commentarySign:hover, .news__likeAndCommentaryPanel__likeSign:hover {
    transform: scale(1.05)
}
/*@media (min-width: 1200px) {
    .news img{
        width: 800px;
}}*/