  .newPostTextarea {
    width: 50%;
    margin: 1em 0 2em 1em;
  }
  .send {
    margin-top: .3em;
    display: block;
    background-color: #0693cd;
    border: 0;
    border-radius: .3em;   
    cursor: pointer;
    color: #fff;
    font-size: .9em;
    font-weight: bold;
    line-height: 1.4;
    padding: .8em;
    width: 8em;
  }