.app-wrapper {
  display: grid;
  grid-template-areas:
  "header header header"
  "nav content latest comments";
  grid-template-rows: 8vh 1fr;
  grid-template-columns: 12% calc(76% - 10px) 12%;
  gap: 5px; 
}
.content {
  grid-area: content;
  background-color: crimson;
 }


